.App {
  text-align: center;
  overflow: auto;
}


.Header{
  overflow: hidden;
}

.TitleText{
    font-family: "Lora", serif !important;
}

.Landing{
  position:fixed;
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
}

.Button{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    justify-content: center;
}


